@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.name,
h2,
h3 {
  font-family: "Roboto";
}

/* top nav */

nav {
  background-color: #5d5d5d;
  color: #fff;
  display: flex;
  padding: 17px;
}

.name {
  flex: 1 0 30%;
  font-size: 2em;
}

.navi {
  flex: 1 0 70%;
  font-size: 1.2em;
  display: flex;
  justify-content: flex-end;
}

.navi a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  align-self: center;
  padding: 0 20px;
  transition: 120ms color linear;
}

.navi a:hover {
  color: #cdd7d6;
}

/* slider */

.slider {
  background-color: #dbdbdb;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.slider .content {
  align-self: center;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  display: flex;
}

.slider .content .text {
  flex: 0 1 50%;
  display: flex;
  justify-content: flex-end;
}

.intext {
  align-self: center;
  height: 50%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text h2 {
  font-size: 2.5em;
}

.text p {
  font-size: 1.18em;
  width: 95%;
}

.btn {
  display: inline-block;
  font-size: 1.18em;
  margin-right: 5px;
  transition: 120ms all linear;
}

.btn1 {
  background-color: #2196f3;
  color: #fff;
  padding: 10px 17px;
  border-radius: 2px;
}

.btn1:hover {
  background-color: #247ba0;
}

.btn2 {
  border: 2px solid #2196f3;
  padding: 9px 20px;
  color: #2196f3;
  border-radius: 3px;
}

.btn2:hover {
  color: violet;
}

.slider .content .img {
  flex: 0 1 50%;
  display: flex;
  justify-content: flex-start;
}

.img div {
  width: 80%;
  align-self: center;
}

.img div img {
  width: 100%;
}

.slider .bottom {
  width: 100%;
  background-color: #dbdbdb;
  font-size: 2.5em;
  text-align: center;
}

.fa-bars {
  display: none;
  font-size: 2em;
}

/* Three columns */

.title,
.row {
  width: 90%;
  margin: 0 auto;
}

.title {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title h2 {
  font-size: 2.7em;
}

.title p {
  margin: 20px 0 50px 0;
  font-size: 1.3em;
  font-family: roboto;
}

.row {
  margin-bottom: 70px;
  display: flex;
}

.col {
  flex-basis: 1 1 33.3%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.col h3 {
  font-size: 2em;
  margin: 20px 0;
}

.col p {
  font-size: 1.1em;
}

/* bg section */

.bg-section {
  height: 320px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("img/example-bg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.bg-section h2 {
  font-size: 2em;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.bg-section p {
  font-size: 1.18em;
}

/* call section */

.call-section {
  background-color: #2196f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.call-section .inside {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
}

.call-section p {
  align-self: center;
  font-size: 2em;
  font-family: Roboto;
  color: #fff;
}

.call-section .btnn {
  height: 80%;
  align-self: center;
  display: inline-block;
  font-size: 1.18em;
  background-color: #fff;
  color: #000;
  margin: 40px 10px;
  padding: 8px 19px 0 19px;
  border-radius: 3.5px;
  transition: 250ms all linear;
}

.call-section .btnn:hover {
  background-color: #ced6fd;
  border-radius: 0;
}

/* tab section */

.section-tab {
  padding: 20px;
}

.section-tab h2,
.below-tab h2,
.contact h2 {
  font-size: 2.4em;
  text-align: center;
  padding: 35px 0 0 0;
}

.section-tab p,
.below-tab p,
.contact p {
  font-size: 1.35em;
  text-align: center;
  padding: 20px;
}

.tabs-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.tab-menu {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0 15px 0;
}

.ur {
  background-color: #a8a8a8;
  margin: 0 15px;
}

.section-tab .row {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.img-col {
  flex: 1 0 50%;
  display: flex;
}

.img-col div {
  width: 60%;
  margin: 0 auto;
  align-self: center;
}

.img-col div img {
  width: 100%;
}

.text-col {
  flex: 1 0 50%;
}

.text-col h2 {
  text-align: left;
}

.text-col p {
  text-align: left;
  padding-left: 0;
  font-size: 1.3em;
  margin-top: 10px;
}

/* tab below */

.below-tab .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.below-tab .row .col {
  flex: 0 0 50%;
  display: flex;
  flex-direction: row;
}

.below-tab .row .col .img {
  flex: 0 0 20%;
  margin-top: 20px;
}

.below-tab .row .col .img img {
  width: 100%;
}

.below-tab .row .col .text {
  flex: 0 0 80%;
}

.below-tab .row .col .text h3,
.below-tab .row .col .text p {
  text-align: left;
  padding-left: 30px;
}

.below-tab .row .col .text p {
  font-size: 1.2em;
}

/* contact-form */

.form-wrapper {
  width: 50%;
  margin: 30px auto 60px auto;
}

label {
  text-transform: uppercase;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: block;
  margin: 15px 0 15px 0;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

[type="email"] {
  margin-bottom: 13px;
}

.text-area {
  width: 100%;
  height: 110px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.05em;
  padding: 5px;
  resize: none;
}

form button {
  width: 100%;
}

/* footer */

.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer .col1 .name {
  text-decoration: underline;
}

.footer .col {
  flex: 0 0 18%;
  margin: 50px 0;
}

.footer .col h5 {
  font-size: 1.7em;
  font-family: "Roboto";
  font-weight: lighter;
  text-align: left;
}

.footer .col a {
  text-decoration: none;
  font-size: 1.3em;
  color: #fff;
  text-align: left;
  transition: 200ms color linear;
}

.footer .col a:hover {
  color: #2196f3;
}

.footer .col1 .name {
  text-align: left;
  margin: 8px 0;
}

.footer .col1 p {
  text-align: left;
  margin-bottom: 10px;
}

.footer .col1 .icons {
  font-size: 2em;
  width: 100%;
  text-align: left;
  margin-top: 15px;
}

.footer .col1 .icons i {
  transition: 200ms color linear;
}

.footer .col1 .icons i:hover {
  color: #2196f3;
}

/* media queries */

@media screen and (max-width: 425px) {
  .slider .content {
    flex-direction: column;
  }

  .slider .content .text {
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
  }

  .slider .content .text h2,
  .slider .content .text p,
  .slider .content .text .buttons {
    margin: 10px 0;
  }

  .slider .content .img {
    flex-basis: 100%;
    flex-grow: 1;
  }

  .slider .content .img div {
    width: 80%;
    margin: 0 auto;
  }

  .navi a {
    display: none;
  }

  .fa-bars {
    display: inline-block;
  }
  /* ____________ */
  .thrcol .row {
    flex-direction: column;
  }

  .thrcol .row .col {
    margin-bottom: 20px;
  }

  /* _______________ */
  .call-section .inside {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .call-section .inside p {
    text-align: center;
    flex: 0 1 100%;
    margin-top: 10px;
  }

  .call-section .inside .btnn {
    margin-top: 30px;
    flex: 0 1 50%;
    text-align: center;
  }
  /* _______________ */

  .section-tab .row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section-tab .row .img-col {
    flex: 0 0 100%;
  }

  .section-tab .row .img-col div img {
    width: 100%;
    display: block;
  }

  .section-tab .row .text-col {
    flex: 0 0 100%;
  }
  /* _____________________ */

  .below-tab .row {
    flex-direction: column;
  }

  .below-tab .row .col {
    flex-basis: 100%;
    flex-direction: column;
  }

  /* ____________________ */

  .contact .form-wrapper {
    width: 95%;
  }

  /* ___________________ */

  .footer {
    flex-direction: column;
  }

  .footer .col {
    flex-basis: 70%;
    padding-left: 50px;
  }
}
